{% extends 'poll/base.html' %}

{% block content %}
<form action="{% url 'poll:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{ question.question_text }}</h1>
        </legend>
        <br />
        <hr />
        <br />
        <div class="form-check" style="text-align: left;">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
            <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}"
                value="{{ choice.id }}">
            <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br />
            <br />
            {% endfor %}
        </div>
    </fieldset>
    <br />
    <hr />
    <br />
    <input type="submit" value="Vote" class="btn btn-secondary" style="color: white;">
</form>
{% endblock %}